@media screen and (width <=500px) {
  .controller-group button,
  .controller-group select {
    width: 100%;
    padding: 8px;
  }
  .controller {
    width: 100%;
    padding: 10px;
  }
  .container {
    padding: 3rem 1rem;
    border: 15px solid #272727;
  }
  /* .container {
    background: rgba(237, 237, 237, 1);
    border-radius: 25px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 80px 1px rgb(255 255 255 / 30%);
    text-align: center;
    transition: background-color 0.3s ease;
    position: relative;
    border: 25px solid #272727;
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */
  .quote-text {
    font-size: 1.3rem;
  }
  .quote {
    margin: 0;
    padding: 40px 0 0 0;
  }
  .quote-author {
    font-size: 0.8rem;
  }
  .hoverToShare,
  .added-by-box {
    font-size: smaller;
  }
  .controller-group button,
  .controller-group select {
    font-size: sm;
    font-weight: 400;
  }
  .controllerSection {
    width: 100%;
  }
  .theme_changer_button {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border-radius: 0 0 9px 9px;
  }
  .theme_changer_button div label {
    margin: 7px 9px;
    width: 20px;
    height: 20px;
  }

  .controller .contribute1 {
    width: 90%;
    font-size: x-small;
  }
  .controller .contribute2 {
    width: 60%;
    font-size: x-small;
  }
}
