@import url('https://fonts.googleapis.com/css?family=Roboto|Satisfy&display=swap');

body {
    background: linear-gradient(30deg, #032553, #6265ff);
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

a:active {
    color: gray;
}

.contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.contributor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 1rem;
    border: 2px solid #bdbdbde8;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 80px 1px rgb(255 255 255 / 30%);
    transition: all 0.5s;
}

.contributor:hover {
    transform: scale(1.1);
}

.contributor img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.contributors-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.contributors-heading h1 {
    font-size: 3rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .contributor {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .contributor {
        width: 100px;
    }
}
