@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,300;1,100;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// importing partials
@import "./partials/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: none;
  text-decoration: none;
  color: $text-color;
}
body {
  background-color: $bg-back;
  background: linear-gradient(to left, $bg-back, $bg-front);
  color: $text-color;
  font-family: "Lato", sans-serif;
  //   font-family: "Raleway", sans-serif;
  //   font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

// Quote styles
.quote {
  text-align: center;
  box-sizing: border-box;
  padding: 20px 10px;
  margin: 30px auto;
  //   border: 1px solid red;
}
.quote-text {
  font-family: "Exo 2", sans-serif;
  // font-family: "Caveat", cursive;
  font-size: 3.1rem;
  font-weight: 300;
  position: relative;
  text-align: center;
  transition: all 0.5s ease-in-out;
  @media screen and (width <= 500px) {
    font-size: 1.1rem;
  }
}
.quote-author {
  font-size: 1rem;
  font-weight: 300;
  margin: 10px auto;
  @media screen and (width <= 500px) {
    font-size: 0.5rem;
  }
}

// Controller styles
.controller {
  border: 1px solid $text-color;
  border-radius: 8px;
  padding: 30px;
  width: 60%;
  margin: 70px auto;
  position: relative;
  @media screen and (width <= 500px) {
    width: 100%;
    padding: 10px;
  }
  .clip-box {
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 10px;
    border: 1px solid $text-color;
    &.added-by-box {
      bottom: 100%;
      border-radius: 5px 5px 0 0;
    }
    &.contribute {
      top: 100%;
      border-radius: 0 0 5px 5px;
      background-color: #929292;
    }
    .added-by {
      color: rgb(49, 155, 248);
    }
  }
}
.controller-wrapper {
  text-align: center;
}
.controller-group button {
  border: 0.5px solid $bg-back;
}
.controller-group button,
.controller-group select {
  padding: 15px 20px;
  border: none;
  outline: none;
  width: 50%;
  cursor: pointer;
  background-color: $bg-back;
  color: $text-color;
  transition: all 0.15s ease-in-out;
  font-weight: bold;
  &:hover {
    background-color: $bg-front;
  }
  @media screen and (width <= 500px) {
    width: 100%;
  }
}
.controller-group button {
  border-radius: 9px 9px 0 0;
  border-bottom: 0.5px solid $text-color;
  &:active {
    transform: scale(0.97);
  }
}
.controller-group select {
  border-radius: 0 0 9px 9px;
}
.controller-group select option {
  padding: 10px 20px;
}

// other styles
.capitalise {
  text-transform: capitalize;
}
